/papers/
/srcs/.idea/
/srcs/.ipynb_checkpoints/
/srcs/.venv/
/srcs/temp.py
/srcs/OS.py
/srcs/temp2.py
/srcs/Result.fasta
/srcs/result.fasta
/meta/
/srcs/temp_3.ipynb
/Staphylococcus_species_1.csv
/Results/
info.txt
