/CodonU/.idea/
/CodonU/.ipynb_checkpoints/
/CodonU/temp.py
/CodonU/temp2.py
/CodonU/temp_3.ipynb
/Results/
/CodonU/temp3.py
/pyvenv.cfg
/CodonU.egg-info/
/dist/
/share/
/bin/
/build/
/lib/
/.venv/
/docs/
