/CodonU/.idea/
/CodonU/.ipynb_checkpoints/
/Results/
/pyvenv.cfg
/CodonU.egg-info/
/share/
/.venv/
/temp/
/_venv/
/dist/
/_docs/
/build/
/tests/
*/*/__pycache__/
/git_token.txt
/logger_config.yaml
/CodonU/tests/CodonU_logger_config.yaml
/CodonU/tests/logs/
